body{
  background-color: hsl(204, 43%, 93%);
  font-family: Karla;
  font-weight: 400;
  color:  hsl(204, 43%, 93%) ;
}
*{
  box-sizing: border-box;
}
span{
  font-size: 2.5em;
}
button{
  width: 200px;
  height: 40px;
  border-radius: 7px;
  background-color: hsl(71, 73%, 54%);
  color: white;
  border: none;
}
.grid-container{
  display: grid;
  justify-content: center;
}
.top{
  grid-column: 1/3;
  background-color: white;
  padding: 0 30px;
}
.left{
  background-color: hsl(179, 62%, 43%);
}
.right{
  background-color: hsl(179, 62%, 50%);
}
ul{
  list-style: none;
}
.invite{
  color:  hsl(179, 62%, 43%);
  font-weight: 700;
}
.duration{
  color: hsl(71, 73%, 54%);
}
.accessing{
  color: hsl(218, 22%, 67%);
}
.grid-container>div{
  padding: 30px;
}
@media only screen and (max-width:375px) {
  .info{
    display: grid;
    grid-column: 1/1;
    

  }
}













/* Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%) */
